{% extends 'base.html.twig' %}

{% block title %}
    Choose a Dept
{% endblock %}
    {% block content %}
        <div class="container d-flex justify-content-center">
            <div class="row">
                <h1> Choose a Department</h1><br>
                <div>{{ form(form) }} </div>
            </div>
        </div>
    {% endblock %}

